/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;


}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Fin du CSS Reset */

/* Etoile */
.link-github svg {
    width: 35px;
    color:#2196f3;
}

ul {
    color: black;
}



/* Contant down(descendre le contenu en bas de page) */

* {
margin: 0;
padding:0;
box-sizing: border-box;
}


body{

font-family: 'consolas', cursive;
background-color: #f1f1f1;
 position: relative;
padding-bottom: 58px
min-height: 100vh;


}

header {
text-align: center;
background-color: #333;
color: #FFD700 ;
padding: 50px;
font-size: 80px;


}

header h2 {

    font-size: 48px;
    margin-bottom: 30px;
    color: #f1f1f1;


}

header p {

    font-size: 15px;
    color: #f1f1f1;
}

/* Neon boton */

a {

    color: #f1f1f1;
}

.link-github {

    font-family: 'consolas';
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color:#2196f3;
    text-transform:  uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0,2s;
    color:#255784;

}


a:hover {
    color:#255784;
    background:#2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 ;
    transition-delay: 0,5s ;


}



main {

    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    /*min-height: calc(100vh - 211px - 58px);*/

}
article {

    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

article:last-child {
    margin-bottom: 0;

}

article h3 {
    margin:  10px 0 25px 0;
}
article p{
    margin-top: 16px;
    line-height: 24px;
}
footer{

text-align: center;
background-color: #333;
color: #fff;
padding:20px;
bottom: 0;
width: : 100%;

/*z-index: 1; /*

}
